E2E_BASE_URL=http://localhost:5173
E2E_API_URL=http://localhost:8080
E2E_BROWSER=chrome
E2E_HEADLESS=true
E2E_TIMEOUT=15000
E2E_ALLOW_DESTRUCTIVE=false

E2E_ADMIN_USERNAME=admin_e2e
E2E_ADMIN_PASSWORD=Password123!

E2E_GURU_USERNAME=guru_e2e
E2E_GURU_PASSWORD=Password123!

E2E_SISWA_USERNAME=siswa_e2e
E2E_SISWA_PASSWORD=Password123!

E2E_SISWA_2_USERNAME=siswa2_e2e
E2E_SISWA_2_PASSWORD=Password123!
